* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: transparent;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
}

.image-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-layer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.end-layer {
    z-index: 1;
}

.start-layer {
    z-index: 2;
    overflow: hidden;
}

.start-layer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}